.list-container {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  gap: 2rem;
  overflow-x: auto;
}

.list {
    background-color: #ccc6c6;
  min-width: 14rem;
  min-height: 20rem;
  border: 1px solid #302f2f;
}

.list-header {
  text-align: center;
  font-size: large;
  font-weight: bold;
  background-color: bisque;
}

.list-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button-container {
  text-align: center;
  min-width: 12rem;
  max-height: 6rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}

.button-header {
  font-size: 16px;
  margin-bottom: 10px;
  background-color: bisque;
}

.circle-button {
  width: 50px;
  height: 50px;
  background-color: #999a9c;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.5rem;
}

.circle-button:hover {
  background-color: #6f6f6f; /* Darker blue on hover */
}

.circle-button::before {
  content: "+";
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* AddListModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content {
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content input,
.modal-content textarea {
  width: 90%;
  margin-bottom: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

.modal-button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #0056b3;
}

.close-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.error-message {
  color: red;
  padding: 1rem;
}
